body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.5px 0.5px 10px 0.5px rgba(170, 162, 162, 0.5);
  border-radius: 18px 18px;
}
.left-side {
  background: linear-gradient(
    to bottom,
    rgba(82, 38, 204, 0.747),
    rgba(38, 0, 255, 0.897)
  );
  text-align: center;
  border-radius: 18px;
  padding-left: 70px;
  padding-right: 70px;
  /* height: 100%; */
}
.left-side h3 {
  padding-top: 30px;
  color: rgba(255, 255, 255, 0.589);
  font-weight: 500;
  padding-bottom: 20px;
}
.left-side .circle {
  display: grid;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  max-width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(65, 17, 177, 0.726),
    rgba(52, 9, 209, 0.315)
  );
  margin-bottom: 30px;
  text-align: center;
}
.left-side .circle p {
  display: grid;
  align-self: center;
  font-size: 4rem;
  font-weight: 700;
  color: white;
}
.left-side .circle span {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.459);
}
.left-side h2 {
  color: white;
  font-weight: 500;
  padding-bottom: 20px;
}
.left-side p {
  color: rgba(255, 255, 255, 0.692);
  font-size: 0.8em;
  display: flex;
  word-wrap: break-word;
  padding-bottom: 20px;
}
.right-side {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0 18px 18px 0;
}
.right-side .primeiro {
  padding-bottom: 12px;
  font-size: 1.6em;
}
.listas .item {
  display: grid;
  grid-template-columns: 1fr auto;
  /* justify-content: space-between; */
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.listas .item img {
  padding-right: 8px;
  /* padding-left: 4px; */
}
.listas .item .cinza {
  color: rgba(170, 157, 157, 0.548);
}
.listas .item span {
  color: black;
  font-weight: 700;
}
.listas .red {
  background: rgba(226, 114, 114, 0.315);
  padding: 12px;
  border-radius: 5px;
}
.listas .red h3 {
  color: rgb(199, 22, 22);
  display: flex;
}

.listas .yellow {
  background: rgba(236, 238, 130, 0.473);
  padding: 12px;
  border-radius: 5px;
}
.listas .yellow h3 {
  color: rgb(211, 192, 19);
  display: flex;
}

.listas .green {
  background: rgba(165, 247, 140, 0.438);
  padding: 12px;
  border-radius: 5px;
}

.listas .green h3 {
  color: rgb(7, 151, 27);
  display: flex;
}

.listas .blue {
  background: rgba(140, 183, 247, 0.274);
  padding: 12px;
  border-radius: 5px;
}

.listas .blue h3 {
  color: rgb(7, 53, 151);
  display: flex;
}
.right-side button {
  border: none;
  display: grid;
  align-self: center;
  /* justify-content: center; */
  margin: 0 auto;
  color: white;
  padding: 20px 100px;
  border-radius: 28px;
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 1em;
  background-color: rgb(30, 30, 80);
}

@media (max-width: 520px) {
  .container {
    display: block;
    border-radius: initial;
    border-radius: 18px;
  }
  .right-side .primeiro {
    font-size: 1.2em;
  }
  .left-side .circle {
    max-width: 140px;
    height: 140px;
    margin-bottom: 10px;
  }
  .left-side {
    border-radius: 0 0 18px 18px;
  }
  .left-side h3 {
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .left-side h2 {
    padding-bottom: 10px;
  }
  .right-side button {
    margin-top: 16px;
  }
}
