body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* gap: 40px; */
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
}
.left-side {
  background: linear-gradient(
    to bottom,
    rgba(82, 38, 204, 0.747),
    rgba(38, 0, 255, 0.897)
  );
  text-align: center;
  border-radius: 18px;
  padding-left: 50px;
  padding-right: 50px;
}
.left-side h3 {
  padding-top: 30px;
  color: rgba(255, 255, 255, 0.589);
  font-weight: 500;
  padding-bottom: 20px;
}
.left-side .circle {
  display: grid;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  max-width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(65, 17, 177, 0.726),
    rgba(52, 9, 209, 0.315)
  );
  margin-bottom: 30px;
  text-align: center;
}
.left-side .circle p {
  display: grid;
  align-self: center;
  font-size: 4rem;
  font-weight: 700;
  color: white;
}
.left-side .circle span {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.459);
}
.left-side h2 {
  color: white;
  font-weight: 500;
  padding-bottom: 20px;
}
.left-side p {
  color: rgba(255, 255, 255, 0.377);
  font-size: 0.8em;
  display: flex;
  word-wrap: break-word;
  padding-bottom: 20px;
}
.right-side {
  background-color: rgb(228, 211, 211);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.right-side ul li:first-child {
  list-style-image: url(./images/icon-memory.svg);
  list-style-position: inside;
}
